* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #010202;
    color: white;
    position: fixed;
    z-index: 3;
    width: 100vw;
}

nav ul {

    display: flex;
    justify-content: end;
    /* align-items: center; */
    list-style-type: none;
    padding: 20px 53px;
}

nav ul li:hover {
    transform: scale(1.3);
    z-index: 2;
}

nav ul li {

    padding: 0px 20px;
    font-size: 19px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: 1s all;



}

nav ul li a:hover {

    color: aquamarine;;
}
         /* About css */

.content-proto {
    width: fit-content;
    height: 0px;
}

.content-proto p {
    position: relative;
    top: 15px;
    left: 40px;
    text-align: center;
    font-size: 32px;
}


.container {
    height: 100vh;
    background-color:black;
    background-image: url("background/bg.png");
}

.intro h3 {
    color:aquamarine;
}

.intro {
    height: fit-content;
    width: fit-content;
    /* background-color: blue; */
    /* margin: 140px 192px 64px 136px; */
    position: relative;
    top: 232px;
    text-align: center;
    margin: auto;
    font-size: 30px;
    /* padding: 108px 114px 198p */
}
.aboutme {
  
    /* width: 100vw; */
    background-color:black;
    background-image: url("background/bg.png");
}

.box1 img {
    position: relative;
    top: 42px;
    width: 237px;
    border-radius: 130px;
    border: 3px solid aquamarine;
    box-shadow: 0 9px 67px #4ef3b6;
    animation: slideDown .9s ease;
    
}


.box1 {
    
    text-align: center;
 
    font-size: 30px;
    /* padding: 108px 114px 198p */
}

.box1 h1 {
    color: #16fd9d;
}

.box1 p {
    font-family: system-ui;
    color: antiquewhite;
}



.skill {
    width: 100%;

     background-color:black;
    background-image: url("background/mockup7.png");

}

.skill-content-1 {
    /* height: 378px;
    width: 100vw; */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    padding: 17px;


}
.skill-content-2 {
    /* height: 378px;
    width: 100vw; */
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    padding: 29px 17px 35px;


}

.card1 {
   
    background-color: #095850;
    
    margin: 0vw 3vw;
    border-radius: 21px;
    background-image: url(background/mockup6.png);
    background-size: 98px;
    box-shadow: 6px 5px 11px 3px #4ed6f3;
    animation: slideLeft .9s ease;
}

.content {
    padding: 90px 57px 46px;
    animation: slideRight .5s ease;
}


.content-box {
    /* background-color: aliceblue; */
    /* width: 28vw; */
    margin: 0px 24px;
    padding: 1px;
}
.content-box h3{
    text-align: center;
    font-size: 132%;
    margin-top: 9px;
    color: white;
}

.bar-content {
    /* background: aqua; */
    margin: 36px 15px;
    font-size: 23px;
}

.bar {
    background-color: white;
    height: 13px;
    width: 28vw;
    border-radius: 11px;
}

.bar-color {
    background-color: #23eaefd4;
    height: 13px;
    /* width: 107px; */
    border-radius: 12px;
}

.bar-content span {
    color: white;
}

footer {
    /* width: 100vw; */
    background-color: #010202;
    color: whitesmoke;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-all-center {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkbtn {
    float: right;
    line-height: 64px;
    margin-right: 35px;
    font-size: 37px;
    display: none;
}

#check {
    display: none;
}

#check:checked~ul {
    margin-left: 0px;
    transition: .5s;
}

@media(max-width:800px) {
    nav ul {
        display: block;
        position: fixed;
        /* width: 100%; */
        height: 100vh;
        top: 64px;
        margin-left: -803px;
        background: black;
        text-align: center;

    }

    #checkbtn {
        display: block;
    }

    nav ul li {
        padding: 10px;
        font-size: 26px;

    }

    .flex-all-center {
        font-size: 15px;
    }
}

@media(max-width:800px) {
   .box1 {

        font-size: 20px;

    }
}
@media(max-width:550px)
{
    .skill-content-1 {
    
        display: block;
        margin: 13px 0px 0px;
        padding: 16px;
    }
    .skill-content-2 {
        /* height: 378px;
        width: 100vw; */
        /* background-color: aqua; */
        display: block;
/*       
        padding: 38px 17px; */
    
    
    }
    .content{
        padding: 90px 26px 46px;
    }
      
    .card1 {
        display: block;
        margin-top: 6vh;
       
      
    }
    .bar{
        width: 63vw;
    }
   
   
}
@media(max-width:350px) 
{
    .content-box{
        margin: 0px;
    }
    .box1 img{
        width: 58vw;
    }
    .box1 {
        font-size: 11px;
    }
    .content {
        padding: 72px 22px 35px;
    }
    
}

@keyframes slideDown {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0%{
        transform: translateX(300px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

